[Unit]
Description=Pulse2 XMPP Agent ( Machine )
After=samba.service slapd.service ejabberd.service
Requires=ejabberd.service

[Service]
#PIDFile=/var/run/machine.pid
#User=medulla
#Group=medulla
Type=exec
ExecStart=/usr/lib/python3/site-packages/medulla_agent/launcher.py -t machine
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
