[Unit]
Description= Medulla master agent substitute for registration
After=samba.service slapd.service ejabberd.service
Requires=ejabberd.service

[Service]
#PIDFile=/var/run/launcher.pid
#User=medulla
#Group=medulla
Type=forking
ExecStart=/usr/lib/python3/site-packages/medulla_master_substitute/agentmastersubstitute.py -d -f /etc/medulla-agent-substitute/agent_master_substitute_reg.ini
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
