[Unit]
Description= Pulse master agent substitute for package deployment
After=samba.service slapd.service ejabberd.service

[Service]
#PIDFile=/var/run/launcher.pid
#User=pulse
#Group=pulse
Type=forking
ExecStart=PATH/pulse_xmpp_master_substitute/agentmastersubstitute.py -d -f /etc/pulse-xmpp-agent-substitute/agent_master_substitute_depl.ini
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
