#!/usr/bin/make -f

# Stolen from cdbs, we need this.
DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION := $(shell echo $(DEB_VERSION) | cut -d: -f2-)
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//')

# Used during building to set the version
export CFLAGS=-DVERSION=\"$(DEB_UPSTREAM_VERSION)\"

%:
	dh $@ --buildsystem=python_distutils --with=python2

override_dh_install:
	dh_install --list-missing

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent
	cp -fr pulse_xmpp_agent/* $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent
	mkdir -p $(CURDIR)/debian/tmp/var/log/pulse/
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/systemd/system
	mkdir -p $(CURDIR)/debian/tmp/var/lib/pulse2/clients/config/
	cp -fr pulse_xmpp_agent/config/systemd/* $(CURDIR)/debian/tmp/usr/lib/systemd/system
	cp -fv ./scripts_installer/lin/*.service $(CURDIR)/debian/tmp/usr/lib/systemd/system
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-agent-relay.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-agent-log.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-package-watching.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-agent-machine.service
	mkdir -p $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_baseplugin
	mkdir -p $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_basepluginscheduler
	cp -frv pulse_xmpp_agent/plugins_common/plugin_* $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_baseplugin
	cp -frv pulse_xmpp_agent/pluginsmachine/plugin_* $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_baseplugin
	cp -frv pulse_xmpp_agent/pluginsrelay/plugin_* $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_baseplugin
	cp -fv  pulse_xmpp_agent/descriptor_scheduler_common/scheduling_* $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_basepluginscheduler
	cp -fv  pulse_xmpp_agent/descriptor_scheduler_machine/scheduling_* $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_basepluginscheduler
	cp -fv  pulse_xmpp_agent/descriptor_scheduler_relay/scheduling_* $(CURDIR)/debian/tmp/var/lib/pulse2/xmpp_basepluginscheduler
	cp -fv pulse_xmpp_agent/plugins_common/plugin_* $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsrelay
	cp -fv pulse_xmpp_agent/plugins_common/plugin_* $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsmachine
	cp -fv pulse_xmpp_agent/pluginsmachine/plugin_* $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsmachine
	cp -fr pulse_xmpp_agent/pluginsrelay/plugin_* $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsrelay
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_machine/
	cp -fv pulse_xmpp_agent/descriptor_scheduler_machine/scheduling_*.py $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_machine/
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_relay/
	cp -fv pulse_xmpp_agent/descriptor_scheduler_relay/scheduling_*.py $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_relay/
	cp -fv pulse_xmpp_agent/descriptor_scheduler_common/scheduling_*.py $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_machine/
	cp -fv pulse_xmpp_agent/descriptor_scheduler_common/scheduling_*.py $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_relay/
	mkdir -p $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/guacamoleconf.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/downloadfile.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/downloadfileexpert.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/applicationdeploymentjson.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/guacamole.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/reverse_ssh_on.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/wakeonlan.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/relayconf.ini.in $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	cp pulse_xmpp_agent/config/package_watching.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent
	mkdir -p $(CURDIR)/debian/tmp/etc/logrotate.d/
	cp contrib/scripts/pulse-xmpp-agent-relay.logrotate $(CURDIR)/debian/tmp/etc/logrotate.d/pulse-xmpp-agent-relay
	chmod +x $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pulse-xmpp-agent-log.py
	chmod +x $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/agentxmpp.py
	chmod +x $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/package_watching.py
	chmod +x $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_agent/launcher.py
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/
	cp pulse_xmpp_master_substitute/agentmastersubstitute.py $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/
	cp pulse_xmpp_master_substitute/agentversion $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/
	cp -r pulse_xmpp_master_substitute/bin/ $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/
	cp -r pulse_xmpp_master_substitute/lib/  $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/
	cp -r pulse_xmpp_master_substitute/pluginsmastersubstitute/ $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/
	cp -r pulse_xmpp_master_substitute/script/ $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/
	mkdir -p $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent-substitute/
	cp pulse_xmpp_master_substitute/config/*.ini $(CURDIR)/debian/tmp/etc/pulse-xmpp-agent-substitute/
	cp -fr pulse_xmpp_master_substitute/config/systemd/* $(CURDIR)/debian/tmp/usr/lib/systemd/system
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-master-substitute-registration.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-master-substitute-inventory.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-master-substitute-assessor.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-master-substitute-subscription.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-master-substitute-logger.service
	sed -i 's,site-packages,dist-packages,g' -i $(CURDIR)/debian/tmp/usr/lib/systemd/system/pulse-xmpp-master-substitute-deployment.service
	chmod +x $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/pulse_xmpp_master_substitute/agentmastersubstitute.py
