[Unit]
Description=Pulse2 XMPP Agent ( Syncthing package watching )
After=samba.service slapd.service

[Service]
PIDFile=/var/run/package_watching.pid
Type=forking
ExecStart=/usr/lib/python2.7/site-packages/pulse_xmpp_agent/package_watching.py
ExecStop=killall -9 package_watching.py

[Install]
WantedBy=multi-user.target
