[Unit]
Description=Pulse2 XMPP Agent ( Syncthing package watching )
After=samba.service slapd.service ejabberd.service
Requires=ejabberd.service

[Service]
PIDFile=/var/run/package_watching.pid
Type=simple
ExecStart=/usr/lib/python2.7/site-packages/pulse_xmpp_agent/package_watching.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
